<app-header></app-header>
<div class="main-div margin-top-50">
  <mat-card class="center width">
    <button mat-button (click)="goToRegister()" class="greyColor">Criar pedido</button>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Samus Aran" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="full-width">

      <!-- clientCode Column -->
      <ng-container matColumnDef="clientCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código</th>
        <td mat-cell *matCellDef="let element"> {{element.clientCode}} </td>
      </ng-container>

      <!-- clientName Column -->
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
      </ng-container>

      <!-- bound Column -->
      <ng-container matColumnDef="bound">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vinculado? </th>
        <td mat-cell *matCellDef="let element"> {{element.bound }} </td>
      </ng-container>

      <!-- offerName Column -->
      <ng-container matColumnDef="offerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Oferta </th>
        <td mat-cell *matCellDef="let element"> {{element.offerName}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço</th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency:'BRL' | toMarket}} </td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financeiro</th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency:'BRL'}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element" class="status"> {{element.status}} </td>
      </ng-container>

      <!-- edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edição </th>
        <td mat-cell *matCellDef="let element">
          <button (click) = update(element) mat-icon-button color="warn" aria-label="edit button">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Não foi possivel encontrar "{{input.value}}" na busca </td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5]"
                [length]="this.offers.length"
                [pageSize]="5"
                 showFirstLastButtons
                 aria-label="Selecione o número de itens visualizados">
    </mat-paginator>

  </mat-card>

</div>
