/* You can add global styles to this file, and also import other style files */

:root{
  --background-color: url(assets/img/Hyrule_Castle2.jpg);
  --primary-color: #F2071B;
  --text-color: #5C6369;
}

*{
  box-sizing: border-box;
}

html { height: 100%; width: 100%; margin:0;}
body {height: 100%; width: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--background-color);}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.margin-top-50{
  margin-top: 3.125rem;
}

.center {
  margin: 10px auto;
}

.width {
  width: 70%;
}

.full-width {
  width: 100%;
}

@media screen and (max-width:34.4375rem){
  .width {
    width: 90%;
  }
}

@media screen and (max-width:26.3125rem){
  .width {
    width: 100%;
  }
}
